body {    background: linear-gradient(180deg, rgba(113, 130, 64, 0.1) -1.1659551760939162%,rgba(7, 20, 53, 0.2) 95.20544290288153%);
}

/*■■■■■■■■■■■■■■■■■■■■■■■■■■■모달 로그인 창■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■*/
		.modal_wrap {	/* 회색 클릭방지화면 */
		    top: 0px;
			position: fixed;
			z-index: 1000; /*높을수록 상위*/
			background-color: rgba(0,0,0,0.8);
			/*overflow: auto;*/
			width: 100%;
			height: 100%;

			justify-content: center;
			align-items: center;
			display: none; /*디스 플레이 none끄기    기존flex */

			
		}
		.modal_content{
			padding: 30px 30px;
			position: relative; /*부모가 포지션이 있어야 하위에서 absolute 를 쓸수 있다*/
			width: 400px;
			height: 400px;
			background-color: white;
			box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19);
			overflow: hidden; /*모달창을 벗어나는 것들을 숨김*/
			color: black;
			border: 1px solid blue; 

		}



	/* 메인 이미지박스 */
		.main_image{
			margin: 0px 0px 20px;
			box-sizing: border-box;
			width: 100%;
			height: 480px;
			background-color: #d2d7df;
		
			background: url('../img/blackangel.png') no-repeat;
			background-size: cover;    /*창 가로에 맞게, (하단 이미지 짤릴 수 있음)*/
			/*background-size: contain;*/  /*창안에 전부보이게*/
			background-position: 0px 0px;  /*좌로부터_위로부터 */
		}

		/*■■■■■■■■■ 섹션 ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■*/
		.section_wrap {
			width: 1400px;
			margin: 30px auto;
			
		}


	/*최근 플레이 게임*/
		.Recently_played_games_box {
		    display: flex;
		    justify-content: space-between;
		    align-items: center;
		    background-color: #2b2b2b;
		    border: 10px solid black;
		    border-radius: 20px;
		}




		/*■■■■■■■■■ 푸터 ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■*/

		div.footer_content{
			/*공사 가이드라인*/
			/*border-left: 3px solid white; 
			border-right: 3px solid white;*/
			width: 1400px; /* 모니터 좌우 1400 안에서 웹을 보여주겠다*/

			margin: 0 auto;
			height: 65px;
			box-sizing: border-box;
			display: flex;
			justify-content: space-between; /*여백을 똑같이 맞추겠다*/
			align-items: center; /* 수평 가운데 정렬*/
			background-color: #000000; /*헤더 전체 색상*/
			color: #c3c3c3;
			text-align: center;
			}

		.footer_wrap {
			background-color: #000000;
			height: 75px;
		}
		