 	/* ■■■■■footer CSS 모음 ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■*/
		#footer {
			height: 81px;
			text-align: center;
			padding: 30px 0px 15px 0px;
		}

		#footer > ul {
			margin: 0 auto 9px;
			text-align: center;
		}
		#footer * {
			font-size: 11px;
			line-height: normal;
			list-style: none;
			color: #333;
		}
		#footer > ul > li {
			display: inline;
			padding: 0 5px 0 7px;
			border-left: 1px solid #dadada;
		}
		#footer > ul > li a:hover {
			color: #FF8C94;
			text-decoration: underline;
		}
		#footer ul li:first-child {
			border-left: 0px!important; /* !important : 제일 높은 우선순위. 왠만하면 안쓰시는걸 추천 */
		}



		#addr_logo {
			width: 100px;
		}
		#address {
			display: flex;
			justify-content: center;
			align-items: center;
			margin: 0 auto;
			text-align: center;
		}
		#address * {
			font: 9px verdana;
		}
		#address a {
			font-weight: bold;
		}
		#address a:hover {
			color: #FF8C94;
		}
