
	.wrap{
		width: 768px;
		margin: 0 auto;
/*		border: 1px solid black;*/
		}
	.header{
		padding: 40px 0px 0px;
		position: relative;
/* 		border: 1px solid red; */
	}
	.n_logo{
		display: block; /*인라인블럭 또는 블럭으로 쓸수 있다  인라인블럭은 가로다 내꺼가 아니다/ 블럭은 한줄에 빈공간을 마진으로 채우고, 인라인블럭은 마진이 없다*/
		width: 420px;
		height: 85px;

		background: url("../img/logos.png") 0 0px; /*통합된 이미지소스를 사용하므로 백그라운드로 넣어서 위치를 바꿔서 사용함 block 을 써야함*/
		background-size: 420px;
		margin : auto;


	}
	.join_content{ /*div 는 기본적으로 block 속성이 되있다. (가로 다 내꺼 마진 포함됨)*/
		width: 460px;
		margin: 0 auto;
	/*	border: 1px solid blue;*/
	}
	.row_group{
		overflow: hidden;
		width: 100%;
	}
	.join_title{
		margin: 19px 0 8px;
		font-size: 14px;
		font-weight: 700; /* bold를 수치로 주는것 100~900까지 숫자로 조절 (기본은 400)(bold = 700 )  100 400 */
		color: black;
	}
	.ps_box{
		display: flex; /*얼라인 아이템과 세트*/
		align-items: center;

		position: relative; /*기본 위치*/
		width: 100%; /*가로 영역은 최대로*/
		height: 51px;	/*세로 51픽셀*/

		border: 1px solid #dadada;
		padding: 10px 14px 10px 14px;
		background: #fff;
		vertical-align: top; /*네이버에서 줘놔서 넣은것, 상단정렬*/
	}
	.int_id{
		padding-right: 110px; /*글자 작성란 오른쪽에 패딩을 줘서 공간을 만듬*/
	}
	.int_pass{
		padding-right: 40px; /*글자 작성란 오른쪽에 패딩을 줘서 공간을 만듬*/
	}
	.int {
		display: block;
		position: relative;
		width: 100%;
		height: 29px;
		padding-right: 25px;
		line-height: 29px;
		border: none;
		background: #fff;
		font-size: 15px;
		z-index: 10;
	}
	.step_url{ /*인풋태그 옆에 @naver.com */
		position: absolute;
		right: 13px;
		font-size: 15px;
		color: #8e8e8e;
	}
	.join_err_msg{ /*필수 정보입니다  입력안했을때 나오게 할것*/
		display: block;
		margin: 9px 0 -2px;
		font-size: 12px;
		line-height: 14px;
		color: red;
		height: 15px;
		/*display: none;*/ /*none으로 하면 공간까지 사라지니.hidden 으로*/
		visibility: hidden;
	}
	.pw_lock { /*비밀번호 입력부분 아이콘*/
		background-image: url("https://static.nid.naver.com/images/ui/join/m_icon_pw_step.png");
		background-repeat: no-repeat; /*이미지 반복하지 않음*/
		background-size: 125px 75px; /*배경 이미지 크기를 바꿈*/
		cursor: pointer;
		width: 24px;
		height: 24px;
		display: inline-block; /*마진이 없는 블록*/
	}
	.repw_lock{ /*비밀번호 입력부분 아이콘*/
		background-image: url("https://static.nid.naver.com/images/ui/join/m_icon_pw_step.png");
		background-repeat: no-repeat; /*이미지 반복하지 않음*/
		background-size: 125px 75px; /*배경 이미지 크기를 바꿈*/
		cursor: pointer;
		width: 24px;
		height: 24px;
		display: inline-block; /*마진이 없는 블록*/
		background-position: -27px 0; /*배경 이미지 위치를 바꿈*/
	}
	.bir_wrap{
		display: table;  /*display flex를 써서 div div div 가 나란히 오게도 할수 있다/ */
		width: 100%;	/*테이블 속성을 줘서, table 태그로 만들기*/
	}
	.bir_mm, .bir_dd{
		padding-left: 10px;  /*왼쪽 패딩을 줘서 table-cell간의 간격을 주겠다*/
	}
	.bir_yy, .bir_mm, .bir_dd{
		display: table-cell;
		table-layout: fixed;
		width: 147px;
		vertical-align: middle;
		}
	.sel {
		background: #fff url('https://static.nid.naver.com/images/join/pc/sel_arr_2x.gif') 100% 50% no-repeat;
		background-size: 20px 8px; /*이밎 사이즈 지정*/
		width: 100%;
		height: 29px;
		font-size: 15px;
		line-height: 18px;
		color: #000;
		border: none;
		-webkit-appearance: none; /* 기본적으로 제공하는 꺾쇠를 지우겠다 */
		}
	.choice{ /*본인 확인 이메일의 (선택) 글자*/
		font-size: 12px;
		font-weight: 400;
		color: #828282;
	}
	
/*가입하기 버튼*/
	.btn_double_area{
		margin: 30px 0 9px;
	}
	.btn_type{
		display: block;
		width: 100%;
		padding: 21px 0 17px;
		font-size: 20px;
		font-weight: 700;
		text-align: center;
		color: white;
		background-color: #d8d8d8;
		cursor: no-drop;  //마우스가 X 표시로 시작함
	}

/*true 일때 추가될 클래스 (제이쿼리에서 추가함)*/
	.jq_btn_true{
		background-color: #121212;
	}
