/*		div{
			border: solid red 1px;*/
		}

		.wrap{
			padding-top: 50px;
		}

		.width {
		    width: 768px;
		    margin: 0px auto; /*div 가운데 정렬*/
		}
/*Header --------------------*/
		.top_menu {
			width: 100%;
		    height: 50px;
		    /*border: solid red 1px;*/
		    font-size: 15px;
		    font-weight: 500;
		    display: flex;
		    align-items: center;
		    justify-content: space-between;
		    padding: 0px 20px;
		    background-color: #d7d5d3;
		    color: #504646;
		}
		/*계정 도움말 문의 간격*/
		.top_menu span {
			padding: 0 10px; 
		}



	
/*section --------------------*/
	/*제목*/	
		.title {
			margin: 30px 0;
		    padding: 30px 0 0px;
		    text-align: center;
		    font-size: 50px;
		    font-weight: 900;
		    background-position: 84px 22px;
		    background-size: 368px;

		}

	/*섹션 내부 */
		.section {background-color: #fbfbfb;}
	
		.section_box {
		    margin: 20px 40px;
		    padding: 30px 30px;
		    border: 1px solid #dfdfdf;
		    background-color: #fff;
		   
		}

		/*컨텐츠 제목*/
		.content_title{
			padding: 10px 0 10px;
			position: relative;
		}
		
		/*체크박스와 글자가 있는칸*/
		.section_box label {
			display: flex;
			align-items: center;
		}
		
		/*체크 아이콘*/
		.section_box input {
			width: 20px;
			height: 20px;

			position: absolute;
			right: 10px;
		}

		/*------------------------------------*/
		.content{
			font-size: 12px;
		}
		.red{
			color: red;
		}
		.content table {
			padding-top: 15px;
			text-align: left;
		}

		
	/*비밀번호 재입력*/
		.input_password {
			/*border: solid red 1px;*/

		    display: flex;
		    text-align: left;
		    justify-content: center;
		}




	/*하단에 탈퇴 취소, 다음단계 버튼 */
		.wrap_btn  {
			padding: 20px 0;
			text-align: center;
		}
		.wrap_btn button {
			width: 200px;
			height: 50px;
			background-color: #3c3838;
			color: white;
			font-size: 15px;
		}
	
	













/*■■■■■■■■■■■■■■■■■■■■■■■■■■■모달 로그인 창■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■*/
	/* 회색 클릭방지화면 */
		.modal_wrap {	
			position: fixed;
			z-index: 1000; /*높을수록 상위*/
			background-color: rgba(0,0,0,0.8);
			/*overflow: auto;*/
			width: 100%;
			height: 100%;

			justify-content: center;
			align-items: center;
			display: none; /*디스 플레이 끄기(none)  켜기(flex) */

			
		}
		.modal_content{
			padding: 30px 30px;
			position: relative; /*부모가 포지션이 있어야 하위에서 absolute 를 쓸수 있다*/
			width: 400px;
			height: 400px;
			background-color: white;
			box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19);
			overflow: hidden; /*모달창을 벗어나는 것들을 숨김*/
			color: black;
			border: 1px solid blue; 

		}


		a#btn_login {
			background-color: #1fbc02;
			display: block; /*DIV 공간 독점 사용*/
			line-height: 55px; /*DIV 세로 공간 확정*/

			font-size: 22px;
			color: white;
			text-align: center;
			

			/*width: 460px;
			height: 59px;*/
			/*text-decoration: none;*/
				
			/*padding-top: 2px;*/
			/*margin: 30px 0px 13px 0px;*/
		}
	/*-----------------------------------------------------------------*/
		.modal_logo{
	       height: 81px;
		   background: url(../img/logos.png) 16px -3px;
		   background-size: 280px;
		   background-repeat: no-repeat;

		}
	
		.wrap_form {
			font-size: 30px;       /*글자크기*/
			font-weight: bold;	   /*글자 굵게*/
			text-align: left;
			margin: 50px 40px;
			/*border:  3px solid red; /*테두리*/*/
		}
		.wrap_form2{
			font-size: 12px;
			border: 1px solid red;
			padding: 20px 20px;

		}
		
		.info_user{
			font-size: 12px;
			text-align: center;
			display: flex;
			justify-content: space-between;

		}
		.inputbox {
			display: block;
			width: 80%;
			height: 30px;
			border-width: 0 0 2px 0; /*인풋박스의 경계선 폭을 조정함*/
		}
		.check_login{
			font-size: 12px;
			display: flex; /*컨텐츠를 한줄에 나오게함*/

		}
		.checkimg{
			background-image: url(../../../img/kakao.png);
			background-position: -30px -30px; /*가로0 -30   세로 */
			display: block; /*일정 공간을 가짐*/
			width: 25px;
			height: 25px;
		}
		check_login > input {  /*체크 로그인의 인풋태그에 */
			visibility: hidden;

		}

		.check_login > input:checked +label{   /*check login의 인풋이 '체크'되면, 라벨에 배경을 띄움*/
			background-image: url(../../../img/kakao.png);
			background-position: 0px -30px; /*가로0 -30   세로 */
		}
	/*-----------------------------------------------------------------*/
	/*■■■■모달창 안에 떴을때 X 버튼■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■*/
		.login_close{
			position: absolute;
			top: 7px;
			right: 7px;
		}
		.login_close > button{
			color: rgb(142,142,142);
			border: none;
			background: white;
			font-size: 30px;
			cursor: pointer;
			outline: none;
		}
		.login_close > button:hover {
			color: #EBA444;
		}
		


	/*정말 탈퇴하시겠습니까*/
		.really {
			text-align: center;
			padding: 0 0 10px 0;
		}


	/* 정말로 탈퇴합니다 버튼 ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■*/
		.btn_confirm {
			color: white;
			background-color: #171717;
			width: 100%;
			height: 50px;
			padding: 10px 0px;
			border: 0;
			border-radius: 4px;
			font-weight: bold;
			margin: 10px 0;
		}